@import "../../common/stylus/variable"

.loading
  width: 100%;
  text-align: center

  .loading-icon
    display inline-block

  .desc
    line-height: 20px
    font-size: $font-size-small
    color: $color-text-l