@import './common/stylus/variable.styl'

body
  color: red;

  .header-nav
    position: relative;
    z-index: 5;
    background-color: $color-background;
    height: $navHeaderHeight

  #o-content
    height: $contentHeight
    position relative;
    overflow hidden

//overflow-y: scroll